{% extends 'base.html' %}
{%block content%}
<div class="row">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <div class="col s2">
                <img src="https://planetkde.org/hackergotchi/sagar.png" alt="" class="circle responsive-img"> <!-- images -->
              </div>
              <div class="col s10">
                <span class="black-text">
                <blockquote>Hello, <br/>Sagar Chand Agarwal</blockquote>
                </span>
              </div>
            </div>
          </div>
        </div>
    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><em>Your carbon footprint is the amount of carbon produced by all of your activities.</em>
                <hr>
                <em><strong>Using less energy reduces our carbon footprint. An added advantage of using less energy is it can save money too!</strong></em>
              </span>
                <p></p>
              </div>
          </div>
        </div>
      <br/>
      <br>
      <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l5">
        <a href = "home" class="waves-effect waves-light btn-large">Click to Start !</a>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}